@import url("normalize.css");
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');

/*Base*/
html {
    font-size: 0.625em;
}

body, body * {
  box-sizing: border-box;
}

/*Typography*/
body {
    font-size: 1.6rem;
    background-color:#f2718d;
}

/* main */
main {
    height:90vh;
}

/*Left side Container for cat*/
.picture-container {
    height:100%;
    float:left;
    width:40%;
}

.picture-container img {
  height:72%;
  position:relative;
  left:25px;
  top:210px;
}


/* Right side container for speech bubble */
.text-box {
    padding:20px 0;
    text-align:center;
    font-size:4rem;
    font-family: 'Baloo Bhaina',Helvetica, cursive;
    border: 3px solid black;
    border-radius:30px;
    background-color: white;
    float:left;
    width:53%;
    position:relative;
    top:45%;

}

div.text-box p {
    margin:15px;
}

div.text-box p, div.text-box span {
    display:inline-block;
}


/* footer */
footer{
    background-color:#383644;
    height:10vh;
    width:100%;
}

footer p {
     font-family: 'Baloo Bhaina',Helvetica, cursive;
     font-size:35px;
     text-align:right;
     padding:12px 20px 0 0;
     margin:0;
     color:white;
]
